@font-face {
    font-family: Cinzel;
    src: url(assets/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(assets/fonts/Sacramento-Regular.ttf);
}

@font-face {
    font-family: GreatVibes;
    src: url(assets/fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: AmaticRegular;
    src: url(assets/fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: AmaticBold;
    src: url(assets/fonts/AmaticSC-Bold.ttf);
}

* {
    background-color: #ffe1c9;
    color: #390d2d;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-top: 30px;
    font-family: GreatVibes;
    /*font-family: Cinzel;*/
    font-size: 70px;
    /*font-size: 50px; */
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fac7b4 !important;
    padding: 40px;
    width: 90%;
    border-radius: 8px;
    margin-bottom: 30px;
}

.header-img {
    width: 300px;
    max-height: 430px;
}

.header-paragraph {
    width: 60%;
    margin: 10px;
    text-align: center;
    background-color: transparent;
    /* font-family: Sacramento; */
    font-family: AmaticBold;
    font-size: 35px;
}

.card-img-top {
    width: auto;
    height: 300px;
}

@media screen and (max-width: 900px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-paragraph{
        width: 95%;
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

.list-title {
    /* font-family: Cinzel; */
    font-family: GreatVibes;
    font-size: 50px;
}

.btn {
    background-color: #390d2d !important;
    border-color: black !important;
}

.list-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #fac7b4;
    border-radius: 8px;
    width: 90%;
}

.card {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rodape{

}

.footer{
    height: auto;
    background-color: #fac7b4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.footer-text{
    background-color: transparent;
    color: #390d2d;
    font-family: AmaticBold;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

#qrcode {
    display: inline-block;
    margin-bottom: 40px; /* Ajuste conforme necessário */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: left;
}

@media screen and (max-width: 900px) {
    .header-title {
        font-size: 50px; 
    }
}

@media screen and (max-width: 600px) {
    #rodape{
       text-align: center;
       font-family: GreatVibes;
       display: flex;
       justify-content: space-between;
    }
 }

#rodape{
    background-color: #fac7b4 ;
    font-family: AmaticBold;
    display: flex;
    flex-direction: column;
}

#desenvolvido{
    color: #390d2d;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 20px; 
    margin-bottom: 10px;
}

#icond, #icong{
    background-color: transparent;
    margin-bottom: 0;
    color: #390d2d; 
    text-decoration: none;
    font-size: 24px; 
    margin: 0 10px;
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: baseline;
}

#icond p{
    background-color: transparent;
    margin-bottom: 0;
    
}
#icong p{
    background-color: transparent;
    margin-bottom: 0;
    
}

#icond a, #icong a {
    background-color: transparent;
    margin: 0 3px;
}

#icong a:first-child {
    background-color: transparent;
    margin-left:3px;
}
