*{
    background-color: #ffe1c9;
    color: #390d2d;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-paragraph{
    width: 60%;
    text-align: center;
}

img{
    width: auto;
    height: 300px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn{
    background-color: #390d2d !important;
    border-color: black !important;
}

.list-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #fac7b4;
    border-radius: 8px;
    width: 90%;
}

.card {
    margin: 30px;
}